{{ define "pprof" }}
<div class="list-group">
	<a class="list-group-item list-group-item-actions"
		href="/pprof/cmdline">Cmdline</a>
	<a class="list-group-item list-group-item-actions"
		href="/pprof/profile">Profile</a>
	<a class="list-group-item list-group-item-actions"
		href="/pprof/symbol">Symbol</a>
	<a class="list-group-item list-group-item-actions"
		href="/pprof/trace">Trace</a>
</div>
{{ end }}
